@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


.light-mode body {
  background-color: #f9f9f9; /* Light gray background */
  font-family: "VT323";
  color: #333; /* Dark gray text color */
  margin-left: 5%;
  margin-right: 5%;
}

.light-mode code {
  font-family: "Kode Mono";
  font-size: 0.6em;
  color: #337ab7; /* Blue color */
  background-color: #f7f7f7; /* Light gray background */
  border: 0.5px solid #cccccc; /* Light gray border */
  border-radius: 2px;
}

.light-mode hr {
  color: #45ab3c; /* Green color */
}

.light-mode a {
  color: #337ab7; /* Blue color */
}

.light-mode .btn-dark {
  font-family: 'VT323', monospace;
  font-size: 14px;
  background-color: #f7f7f7; /* Light gray background */
  color: #333; /* Dark gray text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.light-mode .file-info {
  font-size: 12px;
  color: #666; /* Dark gray color */
  margin-right: 5px;
}

.light-mode .file-size {
  margin-right: 2px;
}

.light-mode .file-ext {
  font-style: italic;
}

.light-mode .toc {
  background-color: #f7f7f7; /* Light gray background */
  color: #333; /* Dark gray text color */
  border-radius: 5px;
  padding: 10px;
  width: 250px;
}

.light-mode .toc tr {
  border-bottom: 1px solid #cccccc; /* Light gray border */
}

.light-mode .toc tr:last-child {
  border-bottom: none;
}

.light-mode .toc th {
  text-align: left;
  padding: 10px;
}

.light-mode .toc td {
  padding: 10px;
}

.light-mode .toc a {
  color: #337ab7; /* Blue color */
  text-decoration: none;
}

.light-mode .toc a:hover {
  color: #333; /* Dark gray text color */
}

.light-theme .title {
  font-family: "Honk";
}
