.light-theme body {
  background-color: #f9f9f9; /* Light gray background */
  font-family: "VT323";
  color: #333; /* Dark gray text color */
  margin-left: 5%;
  margin-right: 5%;
}

.light-theme code {
  font-family: "Kode Mono";
  font-size: 0.6em;
  color: #337ab7; /* Blue color */
  background-color: #f7f7f7; /* Light gray background */
  border: 0.5px solid #cccccc; /* Light gray border */
  border-radius: 2px;
}

.light-theme hr {
  color: #45ab3c; /* Green color */
}

.light-theme a {
  color: #337ab7; /* Blue color */
}

.light-theme .light-theme-btn-light {
  font-family: 'VT323', monospace;
  font-size: 14px;
  background-color: #f7f7f7; /* Light gray background */
  color: #333; /* Dark gray text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.light-theme .light-theme-file-info {
  font-size: 12px;
  color: #666; /* Dark gray color */
  margin-right: 5px;
}

.light-theme .light-theme-file-size {
  margin-right: 2px;
}

.light-theme .light-theme-file-ext {
  font-style: italic;
}

.light-theme .light-theme-toc {
  background-color: #f7f7f7; /* Light gray background */
  color: #333; /* Dark gray text color */
  border-radius: 5px;
  padding: 10px;
  width: 250px;
}

.light-theme .light-theme-toc tr {
  border-bottom: 1px solid #cccccc; /* Light gray border */
}

.light-theme .light-theme-toc tr:last-child {
  border-bottom: none;
}

.light-theme .light-theme-toc th {
  text-align: left;
  padding: 10px;
}

.light-theme .light-theme-toc td {
  padding: 10px;
}

.light-theme .light-theme-toc a {
  color: #337ab7; /* Blue color */
  text-decoration: none;
}

.light-theme .light-theme-toc a:hover {
  color: #333; /* Dark gray text color */
}

.light-theme .light-theme-title {
  font-family: "Honk";
}
